.newPinForm {
    height: 362px;
    display: flex;
    flex-direction: column;
    padding-top: 16px;
    padding-left: 27px;
    padding-right: 27px;
}

.newPin {
    display: flex;
    flex-direction: column;
    padding-top: 16px;
}

label {
    font-family: Oxygen;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
}

.descriptionInput {
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 6px;
    left: 8.18%;
right: 8.18%;
top: 39.5%;
bottom: 50.55%;
}

.smallButton {
    border: 2px solid #00B16A;
    box-sizing: border-box;
    border-radius: 6px;
    font-family: Oxygen;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    background-color: #00B16A; 
    width: 100px;
    color: white;
    height: 30px;
}

.smallButton:hover {
    background-color: white;
    color: #00B16A;
}

.submit {
    padding-top: 16px;
    padding-bottom: 16px;
}

.newPinTopBar {
    background: #303030;
    border-radius: 6px 6px 0px 0px;
    height: 40px;
    font-family: Oxygen;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    color: #FBFBFB;
    display: flex;
    align-items: center;
    justify-content: center;

}

.newPinForm {
    height: 360px;
    padding: 0px;
    margin: 0px;
    background-color: #FBFBFB;
}