a {
    text-decoration: none;
    color: #040492;
}

a:hover {
    text-decoration: underline;
}

.resources {
    padding: 2em;
    margin: 2em;
    box-shadow: 0px 1px 7px;
}

.resource-row {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin: -4px 0;
}

.resource-row-reverse {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row-reverse wrap;
}

.resource-content {
    padding: 0.5em;
    text-align: center;
    width: 42.5%;
}

.resource-header {
    text-align: center;
}

.resource-links {
    display: flex;
    flex-flow: column wrap;
}

.resource-link1 {
    padding: 0.5em 0;
}

.resource-link2 {
    padding: 0.5em 0;
}

.resource-link3 {
    padding: 0.5em 0;
}

/* .padding-top {
    padding-top: 2em;
}

.padding-bottom {
    padding-bottom: 2em;
} */