.circle  {
    border-radius: 50%;
    width: 64px;
    height: 64px;
}

.police {
    background-color: #3498DB;
}

.protest {
    background-color: #F62459;
}

.other {
    background-color: #F9B42D;
}

.pinListItem {
    display: flex;
    height: 120px;
    width: 540px;
    padding-left: 23px;
    align-items: center;
}

.description {
    padding-left: 23px;
    padding-right: 27px;
    font-family: Oxygen;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
}

.hr {
    padding-left: 3px;
    padding-right: 3px;
    color: #BBBBBB;
    width: 512px; 
  }

  .highlighted {
      border: solid white;
      background-color: black;
  }