.home {
  display: flex;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#map {
  height: 400px;
  width: 100%;
}

.map {
  display: flex;
  min-height: 100%;
  position: relative;
  min-width: 62.5%;
}

.sideBar {
  display: flex;
  min-width: 37.5%;
  border: solid;
  flex-direction: column;
  min-height: 100%;
  position: relative;
  background-color: #C4C4C4;
}

.pinListItem {
  border-top: solid;
  border-bottom: solid;
}

.nav {
  height: 120px;
}

.logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
}