.logo {
    font-family: 'Raleway', sans-serif;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    padding-left: 20px;
    color: white;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #303030;
    height: 66px;
}

.navEl {
    padding-right: 20px;
    font-family: Oxygen;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: white;
    text-decoration: none;
    padding-top: 16px;
}

.navEl:hover {
    color: #00B16A;
}